@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .focus-ring {
    @apply transition duration-200 focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-offset-transparent;
  }

  .tnum {
    font-feature-settings: "tnum";
  }

  .custom-text-alignment {
    text-align: var(--text-alignment);
  }

  .custom-content-alignment {
    align-items: var(--content-alignment);
  }
}

@layer components {
  .Logo {
    height: var(--logo-height);
  }

  .Button {
    position: relative;
    display: inline-flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: theme("spacing.2");
    padding: theme("spacing.3") theme("spacing.6");
    border-radius: var(--button-border-radius);
    border-width: var(--button-border-width);
  }

  .Button--primary {
    background-color: var(--primary-color);
    border-color: var(--button-primary-border-color);
    color: var(--button-primary-text-color);
  }

  .Button--primary:hover {
    background-color: var(--button-primary-hover-color);
  }

  .Button--secondary {
    background-color: var(--button-secondary-background-color);
    border-color: var(--button-secondary-border-color);
    color: var(--button-secondary-text-color);
  }

  .Button--primary:hover {
    background-color: var(--button-primary-hover-color);
  }

  .Container {
    position: relative;
    display: flex;
    width: 100%;
    flex-grow: 1;
    animation: fade-in 150ms;
    flex-direction: column;
    border-radius: var(--container-border-radius);
    background-color: var(--container-background-color);
    padding: theme("spacing.6");
  }

  @media screen(md) {
    .Container {
      padding-top: var(--container-padding);
      padding-left: var(--container-padding);
      padding-right: var(--container-padding);
    }
  }

  @media screen(md) {
    .Container {
      max-width: theme("maxWidth.xl");
      box-shadow: theme("boxShadow.lg");
      padding-bottom: var(--container-padding);
    }

    .bg-page-image {
      background-image: var(--page-background-image);
    }
  }

  /* Inspired by https://chakra-ui.com/docs/components/feedback/spinner */
  .Spinner {
    display: inline-block;
    border-top: 2px solid currentcolor;
    border-right: 2px solid currentcolor;
    border-bottom-style: solid;
    border-left-style: solid;
    border-radius: 99999px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: 0.7s linear 0s infinite normal none running spinner;
    width: var(--spinner-size);
    height: var(--spinner-size);
    --spinner-size: 1em;
    color: currentcolor;
  }

  .Spinner--large {
    --spinner-size: 5rem;
    color: var(--loader-color);
  }
}
